<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KBO Baseball GM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectmyteam.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <!-- Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectmyteam.js') }}"></script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container make-center">
                <h1 class="title">
                    Make your own KBO Team for 2019!
                </h1>
                <h2 class="subtitle">
                    Select 8 Batters
                </h2>
                <h2 class="subtitle">
                    2018 KBO Batting Stats
                </h2>
                <div id="button"></div>
            </div>
        </div>
    </section>
    <div class="container">
        <table id="selectedColumn" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Team</th>
                    <th scope="col">Position</th>
                    <th scope="col">Games</th>
                    <th scope="col">Avg</th>
                    <th scope="col">Hit</th>
                    <th scope="col">HR</th>
                    <th scope="col">Run</th>
                    <th scope="col">RBI</th>
                    <th scope="col">Select</th>
                    <th scope="col">Cancel</th>

                </tr>
            </thead>
            <tbody id="player-box">
            </tbody>
        </table>
    </div>
</body>

</html>