<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KBO Baseball GM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectmyteam.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <!-- Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectmyteam.js') }}"></script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container make-center">
                <h1 class="title">
                    내 팀을 선택하자!
                </h1>
                <h2 class="subtitle">
                    타자 8명을 선택하세요
                </h2>
                <h2 class="subtitle">
                    KBO 타자 2018년 성적
                </h2>
                <a href="./" class="primary-btn"><button type="button" class="btn btn-primary">뒤로</button></a>
                <button type="button" class="btn btn-primary" onclick="checkNumber()">내 팀 보기</button>
            </div>
        </div>
    </section>
    <div class="container">
        <table id="selectedColumn" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">이름</th>
                    <th scope="col">사진</th>
                    <th scope="col">팀</th>
                    <th scope="col">포지션</th>
                    <th scope="col">경기수</th>
                    <th scope="col">타율</th>
                    <th scope="col">안타</th>
                    <th scope="col">홈런</th>
                    <th scope="col">득점</th>
                    <th scope="col">타점</th>
                    <th scope="col">선택</th>
                    <th scope="col">취소</th>

                </tr>
            </thead>
            <tbody id="player-box">
            </tbody>
        </table>
    </div>
</body>

</html>