<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KBO Baseball GM </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

      <!-- Boostrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
      <style>
        .title {
          color: white;
        }

        .subtitle {
          color: white;
        }

        .hero-body {
          background-color: rgb(179, 26, 26);
          padding: 50px;
        }

        .make-center {
          text-align: center;
        }

        .star-list {
          width: 500px;
          margin: 20px auto 0 auto;
        }

        .star-name {
          display: inline-block;
        }

        .star-name:hover {
          text-decoration: underline;
        }

        ß .card {
          margin-bottom: 15px;
        }
      </style>
      <script>
        $(document).ready(function () {
          // index.html 로드가 완료되면 자동으로 show_star() 함수를 호출합니다.
          show_result();
        });

        function show_result() {
          $.ajax({
            type: 'GET',
            url: '/api/result',
            data: {},
            success: function (response) {
              if (response['result'] == 'success') {
                let msg = response['msg'];

                var avg = [];
                var run = [];
                var hit = [];
                var hr = [];
                var rbi = [];
                var teams = [];
                for (let i = 0; i < response['data'].length; i++) {
                  let team = response['data'][i];
                  teams.push(team);
                  avg.push(response['data'][i]["Avg"]);
                  run.push(response['data'][i]["Run"]);
                  hit.push(response['data'][i]["Hit"]);
                  hr.push(response['data'][i]["Hr"]);
                  rbi.push(response['data'][i]["RBI"]);

                }
                // console.log(teams);
                avg.sort();
                run.sort();
                hit.sort(function (a, b) { return a - b });
                hr.sort(function (a, b) { return a - b });
                rbi.sort();
                console.log(avg);
                console.log(run);
                console.log(hit);
                console.log(hr);
                console.log(rbi);
                var j = 1;
                for (var i = 0; i < teams.length; i++) {

                  function checkIndex(team) {
                    return team.Avg === avg[i];
                  }
                  var index = teams.findIndex(checkIndex);
                  teams[index]["Score"] = 0;
                  teams[index]["Score"] += j;
                  j++;
                }

                j = 1;
                for (var i = 0; i < teams.length; i++) {
                  function checkIndex(team) {
                    return team.Run === run[i];
                  }
                  var index = teams.findIndex(checkIndex);

                  teams[index]["Score"] += j;
                  j++;
                }

                j = 1;
                for (var i = 0; i < teams.length; i++) {
                  function checkIndex(team) {
                    return team.Hit === hit[i];
                  }
                  var index = teams.findIndex(checkIndex);

                  teams[index]["Score"] += j;
                  j++;
                }

                j = 1;
                for (var i = 0; i < teams.length; i++) {
                  function checkIndex(team) {
                    return team.Hr === hr[i];
                  }
                  var index = teams.findIndex(checkIndex);

                  teams[index]["Score"] += j;
                  j++;
                }

                j = 1;
                for (var i = 0; i < teams.length; i++) {
                  function checkIndex(team) {
                    return team.RBI === rbi[i];
                  }
                  var index = teams.findIndex(checkIndex);

                  teams[index]["Score"] += j;
                  j++;
                }

                function compare(a, b) {
                  const teamA = a.Score;
                  const teamB = b.Score;

                  let comparison = 0;
                  if (teamA < teamB) {
                    comparison = 1;
                  } else if (teamA > teamB) {
                    comparison = -1;
                  }
                  return comparison;
                }

                teams.sort(compare);
                console.log(teams);
                for (var i = 0; i <teams.length; i++) {
                  make_card(teams[i], i+1);
                }


              }
            }
          });
        }
        function make_card(player, rank) {
          const card =
          `<tr>
            <td>${rank}</td>
            <td><img height=50px width=50px src="${player.Logo}"></td>
            <td>${player.Team}</td>
            <td>${player.Avg}</td>
            <td>${player.Hit}</td>
            <td>${player.Hr}</td>
            <td>${player.Run}</td>
            <td>${player.RBI}</td>
            <td><b>${player.Score}</b></td>
          </tr>`;
          $('#player-box').append(card);
        }

        function pick_player(name, position) {
          // 1. 서버에 1) POST 방식으로, 2) /api/like 라는 url에, 3) name_give라는 이름으로 name을 전달합니다.
          // 참고) POST 방식이므로 data: {'name_give': name} 과 같은 양식이 되어야합니다!

          if (position == "") {
            alert('올해 KBO 명단에 없습니다!');
            return;
          }
          $.ajax({
            type: "POST",
            url: "/api/pick",
            data: { 'name_give': name },
            success: function (response) {
              if (response['result'] == 'success') {
                // 2. '좋아요 완료!' 얼럿을 띄웁니다.
                alert('선택완료!')
                alert(response['count'])
                // 3. 변경된 정보를 반영하기 위해 새로고침합니다.

              }
              else if (response['result'] == 'DNE') {
                alert('올해 KBO 명단에 없습니다!')
              }
              else {
                alert('이미 선택했습니다!')
              }
            }
          });
          console.log(name);
        }

        function delete_allplayer() {
          // 1. 서버에 1) POST 방식으로, 2) /api/delete 라는 url에, 3) name_give라는 이름으로 name을 전달합니다.
          // 참고) POST 방식이므로 data: {'name_give': name} 과 같은 양식이 되어야합니다!

          $.ajax({
            type: "POST",
            url: "/api/deleteall",
            data: {},
            success: function (response) {
              if (response['result'] == 'success') {
                // 2. '삭제 완료! 안녕!' 얼럿을 띄웁니다.
                alert('팀 삭제!')
                alert(response['count'])
                // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
              }
            }
          });
        }

      </script>
</head>

<body>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container make-center">
        <h1 class="title">
          내팀을 선택하자
        </h1>
        <h2 class="subtitle">
          타자 8명을 선택하세요
        </h2>
        <h2 class="subtitle">
          KBO 타자 2018년 성적
        </h2>
        <a href="./viewmyteam" class="primary-btn"><button type="button" class="btn btn-primary">뒤로</button></a>
        <a href="./" class="primary-btn"><button type="button" class="btn btn-primary"
            onclick="delete_allplayer()">다시하기</button></a>
      </div>
    </div>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">로고</th>
            <th scope="col">팀</th>
            <th scope="col">타율</th>
            <th scope="col">안타</th>
            <th scope="col">홈런</th>
            <th scope="col">득점</th>
            <th scope="col">타점</th>
            <th scope="col">총점</th>

          </tr>
        </thead>
        <tbody id="player-box">
        </tbody>
      </table>
    </div>
</body>

</html>